.order-button {
    background-color: $blue-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    color: $white-basic;
    letter-spacing: 0.06em;
    text-align: center;
    font-family: Roboto;
    padding: 10px 32px 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
  }

  